.col3 {
    width: 10px;
    height: auto;
}

.logo img{
    width: 100px;
    height: 100px;
}

/* original color */
.full-height {
    background-color: #D4F9CC;
    color: black;
    min-height: 100vh;
}

.box {
    height: 200px;
    width: 1300px;
    background-color: #D4F9CC;
    border: 1px solid black;
}

.navbar {
    height: 60px;
    color: black;
    background-color: #D4F9CC;
}

.navbar a {
    color: black;
}

.littleBox1, .littleBox2, .littleBox3, .littleBox4 {
    height: 300px;
    width: 400px;
    background-color: #D4F9CC;
    border: 1px solid black;
}

.col-4 {
    font-size: 25px;
}

/* everything after this is dark mode */
.dark-mode .full-height {
    background-color: #48ba3b;
    color: white;
}

.dark-mode .box{
    background-color: #48ba3b;
    color: white;
}

.dark-mode .littleBox1{
    background-color: #48ba3b;
    color: white;
}

.dark-mode .littleBox2{
    background-color: #48ba3b;
    color: white;
}

.dark-mode .littleBox3{
    background-color: #48ba3b;
    color: white;
}

.dark-mode .littleBox4{
    background-color: #48ba3b;
    color: white;
}

.dark-mode .navbar {
    background-color: #48ba3b;
    color: white;
}

.dark-mode .navbar a {
    color: white;
}
